@model PasswordManager.Models.Passwords

@{
    ViewData["Title"] = "Edit Password";
}

<div class="w-screen h-screen flex items-center justify-center flex-col gap-10 mb-52">
    <h2 class="text-2xl text-black font-semibold">@Model.Website</h2>
    <div class="w-1/2 h-[500px] border-black border flex items-center justify-center flex-col gap-4">
        <div class="flex-col flex items-center gap-2 w-[270px] mb-8">
            <label class="text-2xl font-semibold" for="Username">
                Username
            </label>
            <input type="text" asp-for="Username" id="username" class="border-black border w-full h-12" />
        </div>
        <div class="flex-col flex items-center gap-2 w-[270px] mb-8">
            <label class="text-2xl font-semibold" for="Password">
                Password
            </label>
            <input type="text" asp-for="Password" id="password" class="border-black border w-full h-12" />
        </div>
        <div class="flex-col flex items-center gap-2 w-[270px] mb-8">
            <label class="text-2xl font-semibold" for="Notes">
                Note
            </label>
            <input type="text" asp-for="Notes" id="notes" class="border-black border w-full h-12" />
        </div>
        <div class="w-[270px] justify-between flex gap-24">
            <button class="bg-cyan-400 text-white text-2xl w-[135px] h-12" id="edit-button">Edit</button>
            <button class="bg-red-600 text-white text-2xl w-[135px] h-12" id="delete-button">Delete</button>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            function editPassword() {
                var username = $('#username').val();
                var password = $('#password').val();
                var notes = $('#notes').val();

                $.ajax({
                    type: 'PUT',
                    url: '@Url.Action("EditPassword", "Home", new { id = Model.Id })',
                    data: JSON.stringify({
                        Username: username,
                        Password: password,
                        Notes: notes
                    }),
                    contentType: 'application/json',
                    success: function (response) {
                        $('#username').text(response.Username);
                        $('#password').text(response.Password);
                        $('#notes').text(response.Notes);
                        console.log(response);
                    },
                    error: function (xhr, status, error) {
                        console.error(error);
                    }
                });
            }
            function deletePassword() {
                $.ajax({
                    type: 'DELETE',
                    url: '@Url.Action("DeletePassword", "Home", new { id = Model.Id })',
                    success: function (response) {
                        window.location.href = response.redirectToUrl;
                    },
                    error: function (xhr, status, error) {
                        console.error(error);
                    }
                });
            }
            $('#edit-button').on('click', editPassword);
            $('#delete-button').on('click', deletePassword);
        });
    </script>
}