@model PasswordManager.ViewModels.PasswordGeneratorViewModel

@{
    ViewData["Title"] = "Password Generator";
}

<div class="w-screen h-screen flex items-center justify-center flex-col gap-10 mb-52">
    <h2 class="text-2xl text-black font-semibold">Password Generator</h2>
    <div class="w-1/2 h-[500px] bg-red-600 flex items-center justify-center flex-col gap-4">
        <div class="gap-2 flex flex-col w-1/2 items-center">
            <p class="text-2xl text-white">@Model.GeneratedPassword</p>
            <hr class="border-white border-2 w-full" />
            <p class="text-xl text-white mb-8">@Model.PasswordStrength</p>
            <input type="range" id="length-slider" asp-for="Length" min="4" max="64" value="@Model.Length" class="w-full h-2 bg-gray-200 rounded-lg appearance-none cursor-pointer dark:bg-gray-700">
            <label for="Length" class="block mb-2 text-xl text-white">Length: <span id="length-value">@Model.Length</span></label>
        </div>
        <button class="h-16 w-[150px] bg-white text-2xl">
            Generate
        </button>
        <button class="h-16 w-[150px] bg-yellow-200 text-2xl">
            Copy
        </button>
        <div class="flex flex-col gap-10">
            <div class="flex gap-20">
                <div class="flex gap-2 items-center">
                    <input type="checkbox" asp-for="IncludeUpper" class="size-4" />
                    <label for="IncludeUpper" class="text-base font-semibold">
                        Upper
                    </label>
                </div>
                <div class="flex gap-2 items-center">
                    <input type="checkbox" asp-for="IncludeLower" class="size-4" />
                    <label for="IncludeLower" class="text-base font-semibold">
                        Lower
                    </label>
                </div>
            </div>
            <div class="flex gap-20">
                <div class="flex gap-2 items-center">
                    <input type="checkbox" asp-for="IncludeNumbers" class="size-4" />
                    <label for="IncludeNumbers" class="text-base font-semibold">
                        Numbers
                    </label>
                </div>
                <div class="flex gap-2 items-center">
                    <input type="checkbox" asp-for="IncludeSymbols" class="size-4" />
                    <label for="IncludeSymbols" class="text-base font-semibold">
                        Symbols
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#length-slider').on('input', function () {
                $('#length-value').text($(this).val());
        });
    </script>
}