@{
    ViewData["Title"] = "Password Generator";
}

<div class="w-screen h-screen flex items-center justify-center flex-col gap-10 mb-52">
    <h2 class="text-2xl text-black font-semibold">Password Generator</h2>
    <div class="w-1/2 h-[500px] bg-red-600 flex items-center justify-center flex-col gap-4">
        <h2 class="text-3xl text-white mb-4">Length: 11</h2>
        <div class="gap-2 flex flex-col w-1/2 items-center">
            <p class="text-2xl text-white">a435Bc#;56^</p>
            <hr class="border-white border-2 w-full" />
            <p class="text-xl text-white">Strong Password</p>
        </div>
        <button class="h-16 w-[150px] bg-yellow-200 text-2xl">
            Copy
        </button>
        <button class="h-16 w-[150px] bg-white text-2xl">
            Reset
        </button>
        <div class="flex flex-col gap-10">
            <div class="flex gap-20">
                <div class="flex gap-2 items-center">
                    <input type="checkbox" name="upper" value="" class="size-4" />
                    <label id="upper" class="text-base font-semibold">
                        Upper
                    </label>
                </div>
                <div class="flex gap-2 items-center">
                    <input type="checkbox" name="lower" value="" class="size-4" />
                    <label id="lower" class="text-base font-semibold">
                        Lower
                    </label>
                </div>
            </div>
            <div class="flex gap-20">
                <div class="flex gap-2 items-center">
                    <input type="checkbox" name="numbers" value="" class="size-4" />
                    <label id="numbers" class="text-base font-semibold">
                        Numbers
                    </label>
                </div>
                <div class="flex gap-2 items-center">
                    <input type="checkbox" name="symbols" value="" class="size-4" />
                    <label id="symbols" class="text-base font-semibold">
                        Symbols
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
