@{
    ViewData["Title"] = "Password Manager";
}

<div class="w-screen h-screen flex items-center justify-center flex-col gap-10 mb-52">
    <h2 class="text-2xl text-black font-semibold">Password Manager</h2>
    <div class="w-1/2 h-[500px] border-black border flex items-center flex-col gap-12">
        <div class="w-full flex items-center flex-col">
            <div class="flex justify-between items-center w-full h-[80px]">
                <p class="text-2xl font-semibold ml-8">Amazon</p>
                <p class="text-base text-gray-600">jimbob69@gmail.com</p>
                <img src="/Public/right-arrow.png" class="mr-8" alt="Alternate Text" />
            </div>
            <hr class="border-black h-[1px] w-full" />
            <div class="flex justify-between items-center w-full h-[80px]">
                <p class="text-2xl font-semibold ml-8">Google</p>
                <p class="text-base text-gray-600">jimbob69@gmail.com</p>
                <img src="/Public/right-arrow.png" class="mr-8" alt="Alternate Text" />
            </div>
            <hr class="border-black h-[1px] w-full" />
            <div class="flex justify-between items-center w-full h-[80px]">
                <p class="text-2xl font-semibold ml-8">Facebook</p>
                <p class="text-base text-gray-600">jimbob69@gmail.com</p>
                <img src="/Public/right-arrow.png" class="mr-8" alt="Alternate Text" />
            </div>
            <hr class="border-black h-[1px] w-full" />
            <div class="flex justify-between items-center w-full h-[80px]">
                <p class="text-2xl font-semibold ml-8">Netflix</p>
                <p class="text-base text-gray-600">jimbob69@gmail.com</p>
                <img src="/Public/right-arrow.png" class="mr-8" alt="Alternate Text" />
            </div>
            <hr class="border-black h-[1px] w-full" />
        </div>
        <a class="text-cyan-400 text-2xl" asp-controller="Home" asp-action="Signup">Password Checkup</a>
    </div>
</div>
