@model IEnumerable<PasswordManager.Models.Passwords>

@{
    ViewData["Title"] = "Password Manager";
}

<div class="w-screen flex items-center justify-center flex-col gap-10 mt-12">
    <h2 class="text-2xl text-black font-semibold">Password Manager</h2>
    <div class="w-1/2 h-[500px] border-black border flex items-center flex-col gap-12">
        <div class="w-full flex items-center flex-col">
            @foreach(var item in Model)
            {
                <div class="flex justify-between items-center w-full h-[80px]">
                    <p class="text-2xl font-semibold ml-8">@item.Website</p>
                    <p class="text-base text-gray-600">@item.Username</p>
                    <a asp-controller="Home" asp-action="EditPassword" asp-route-id="@item.Id"><img src="/Public/right-arrow.png" class="mr-8 hover:opacity-70 transition delay-100" alt="Alternate Text" /></a>
                </div>
                <hr class="border-black h-[1px] w-full" />
            }
        </div>
        <a class="text-cyan-400 text-2xl hover:text-cyan-300 transition delay-75 cursor-pointer" id="checkup">Password Checkup</a>
        <img src="/Public/spinner.gif" alt="Alternate Text" class="w-[50px] h-[50px]" style="display: none" id="spinner" />
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#checkup').on('click', function () {
                $('#spinner').css("display", "block");

                setTimeout(function () {
                    $.ajax({
                        type: 'GET',
                        url: '@Url.Action("GetReport", "Home")',
                        success: function (response) {
                            window.location.href = response.url;
                        },
                        error: function (xhr, status, error) {
                            console.error(error);
                        }
                    });
                }, 2000);
            });
        });
    </script>
}