@model PasswordManager.ViewModels.SignUpViewModel

@{
    ViewData["Title"] = "Sign Up";
}

<div class="w-screen flex items-center justify-center flex-col gap-10">
    <h2 class="text-2xl text-black font-semibold mt-12">Sign Up</h2>
    <div class="w-1/2 h-[500px] border-black border flex items-center justify-center flex-col gap-4">
        <form asp-action="Signup" method="post" class="flex-col flex justify-center items-center">
            <div class="flex-col flex items-center gap-2 w-[270px] mb-8">
                <label class="text-2xl font-semibold" for="Username">
                    Username
                </label>
                <input type="text" asp-for="Username" class="border-black border w-full h-12" />
                <span class="text-sm text-red-600" asp-validation-for="Username"></span>
            </div>
            <div class="flex-col flex items-center gap-2 w-[270px] mb-8">
                <label class="text-2xl font-semibold" for="Password">
                    Password
                </label>
                <input type="password" asp-for="Password" class="border-black border w-full h-12" />
                <span class="text-sm text-red-600" asp-validation-for="Password"></span>
            </div>
            <button class="bg-black text-white text-2xl w-[135px] h-12 hover:opacity-80 transition delay-75" type="submit">Sign Up</button>
            <div class="text-sm text-red-600" asp-validation-summary="ModelOnly"></div>
        </form>
        <p class="text-base">Already have an account?<a class="text-cyan-400 ml-1 hover:underline" asp-controller="Home" asp-action="Signin">Sign in here</a></p>
    </div>
</div>
