@model PasswordManager.ViewModels.SignInViewModel

@{
    ViewData["Title"] = "Sign In";
}

<div class="w-screen h-screen flex items-center justify-center flex-col gap-10 mb-52">
    <h2 class="text-2xl text-black font-semibold">Sign In</h2>
    <div class="w-1/2 h-[500px] border-black border flex items-center justify-center flex-col gap-4">
        <form asp-action="Signin" method="post" class="flex-col flex justify-center items-center">
            <div class="flex-col flex items-center gap-2 w-[270px] mb-8">
                <label class="text-2xl font-semibold" for="Username">
                    Username
                </label>
                <input type="text" asp-for="Username" class="border-black border w-full h-12" />
                <span class="text-sm text-red-600" asp-validation-for="Username"></span>
            </div>
            <div class="flex-col flex items-center gap-2 w-[270px] mb-8">
                <label class="text-2xl font-semibold" for="Password">
                    Password
                </label>
                <input type="password" asp-for="Password" class="border-black border w-full h-12" />
                <span class="text-sm text-red-600" asp-validation-for="Password"></span>
            </div>
            <button class="bg-black text-white text-2xl w-[135px] h-12" type="submit">Sign In</button>
            <div class="text-sm text-red-600" asp-validation-summary="ModelOnly"></div>
        </form>
        <p class="text-base">Don't have an account?<a class="text-cyan-400 ml-1" asp-controller="Home" asp-action="Signup">Sign up here</a></p>
    </div>
</div>
